<footer class="footer-min">
  <div class="text-muted">
	{{ site.author.name }}
	&nbsp;&nbsp;&bull;&nbsp;&nbsp;
	{% if page.date %}
	  {{ page.date }}
	{% else %}
	  {{ site.time | date: '%Y' }}
	{% endif %}
	
    {% if site.url-pretty %}
    &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    <a href="{{ site.url }}">{{ site.url-pretty }}</a>
    {% endif %}	
  </div>
</footer>

<style>

footer {
  color:white;
  height: 900px;
  background-color: #696969;
  padding-top: 50px;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.65;
  text-decoration: none;
  text-align: center;
}
	
<style>	
